<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <th:block th:object="${post}">
        <label th:text="*{category}">카테고리</label>
        <h1 th:text="*{title}">제목</h1>
        <br/>
        <textarea type="text" th:text="*{content}" class="form-control" readonly>내용</textarea>
        <input type="hidden" th:field="*{id}">
    </th:block>
</div>

<br/>

<div class="container">
    <a th:href="|/post/${postId}/update?page=${page}|" class="btn btn-success" role="button">수정</a>
    <button id="btn-post-delete"  th:href="|/post/${postId}/delete|" class="btn btn-danger">삭제</button>
    <a th:href="|/?page=${page}|" class="btn btn-secondary" role="button">목록</a>
</div>



</body>

<footer th:replace="~{fragment/footer :: footer(~{::js})}">
    <th:block th:fragment="js">
        <script src="/js/post-delete.js"></script>
    </th:block>
</footer>

</html>