<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: header}">
    <meta charset="UTF-8">
    <title th:text="게시판">Title</title>
</head>
<body>
<header>

</header>
<div class="container">
    <th:block th:switch="${loginMember != null}">
        <th:block th:case="true">
            <h4 th:text="|${loginMember.userName}님 반갑습니다.|">사용자명</h4>
            <a href="/logout" class="btn btn-primary" role="button">로그아웃</a>
        </th:block>
        <th:block th:case="false">
            <a href="/member/save" class="btn btn-primary" role="button">회원가입</a>
            <a href="/login" class="btn btn-primary" role="button">로그인</a>
        </th:block>
    </th:block>

    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>카테고리</th>
            <th>제목</th>
            <th>작성자</th>
            <th>게시일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postList}">
            <td th:text="${post.category}">카테고리</td>
            <td>
                <a th:href="|/post/${post.id}?page=${page}|" th:text="${post.title}">제목</a>
            </td>
            <td th:text="${post.username}">작성자</td>
            <td th:text="${post.createDate}">게시일</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <ul class="pagination">
        <th:block th:switch="${page == 1}">
            <th:block th:case="true">
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            </th:block>
            <th:block th:case="false">
                <li class="page-item"><a class="page-link" th:href="|/?page=${(page-1)}|">Previous</a></li>
            </th:block>
        </th:block>

        <th:block th:each="num : ${#numbers.sequence( ((page+9)/ 10 - 1) * 10 + 1 , ((page+9)/ 10 - 1) * 10 + 1 + 9   , 1 )}">
            <th:block th:switch="${page == num}">
                <th:block th:case="true">
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" th:href="|/?page=${num}|"  th:text="${num}"></a>
                    </li>
                </th:block>
                <th:block th:case="false">
                    <li class="page-item" th:if="${num <= countPage}">
                        <a class="page-link" th:href="|/?page=${num}|"  th:text="${num}"></a>
                    </li>
                </th:block>
            </th:block>
        </th:block>

        <th:block th:switch="${page == countPage}">
            <th:block th:case="true">
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            </th:block>
            <th:block th:case="false">
                <li class="page-item"><a class="page-link" th:href="|/?page=${(page+1)}|">Next</a></li>
            </th:block>
        </th:block>

    </ul>
</div>


<br/>

<div class="container">
    <a href="/post/save" class="btn btn-primary" role="button">글 등록</a>
</div>

</body>

<footer th:replace="~{fragment/footer :: footer(~{::js})}">
    <th:block th:fragment="js">
        <script src="/js/page.js"></script>
    </th:block>
</footer>

</html>